body{
    background-color: #f5f5f5;
    font-weight: 800;   
}

.content{
    padding: 16px;
}

.item-search{
    padding: 20px;
    background: #fff;
    
}

.item-search h1{
    font-size: 1.8rem;
    color: #525C5D;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-transform: uppercase;
    font-size: .7rem;
    color:#DBDBDB;
}

.nav-tabs .nav-link.active{
    padding: 20px;
    border-top: 2.3px solid #8ACC54;    
    border-right: 1px solid #dee2e6;
}


.main-search{
    background: #fff;
    padding: 15px;
    
}

.main-search h2{
    font-size: 1.2rem;
    
}

.list.row{
    justify-content: space-around;

    
}


.col-custom{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 14.28571428571429%;
    max-width: 14.28571428571429%;
    border: 1px solid #F4F4F4;
    padding: 20px;
}

.status{
    margin-top: 15px;
}

.em{
    font-size: .8em;
}

.fa-question-circle{
    color:#B2B2B2;
}

.stores .btn-outline-secondary{
    
    background: #F8F8F8;
    width: 50px;   

}

.stores .btn-outline-secondary:hover{
    color: #fff;
    background: #6c757d;
    border-color: #6c757d;
    
}

.thead-gray{
    background: #F8F7F8;
}

table{
    font-size: 0.8rem;
}

th{
    text-transform: uppercase;
    color: #878787;
}

tr{
    border-bottom: 1px solid #f5f5f5;
}



.circle-id{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #EDEDED;
    text-align: center;
    background: #fff;
    margin-right: 10px;
}

.plus{
    color:  #555555;
    font-size: 0.8rem;
    border: 1px solid #EDEDED;
    text-align: center;     
    background: #F8F8F8;  
    height: auto;
    width: 25px;
    height: 25px;
}

.plus:hover{
    color: #f8f8f8;
    background: #555555;
}

.table-hover tbody tr:hover {
    background-color: #FCFCFC;
}

.table-hover tbody tr:hover td > .name-store{
    color: #A6E0BE;
}

.name-store{
    color : #000;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover{
    color: #424242;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(66,66,66,.25);
}

.page-item.active .page-link:hover {
    background-color: rgba(66,66,66,.89);
    border-color: rgba(66,66,66,.89);
}


@media (max-width: 992px){
    .container .col-custom {
        max-width: inherit;
    }
}
